%section#recordings.box.container.section
  #gallery-nav.columns.section
    .column.is-8
      .title
        = content_tag(:span, fa_icon('film'), class: 'icon is-medium')
        %span.is-uppercase.has-font-discognatehacka Videótár
    .column.is-4.has-text-right
      %a.button.is-active= fa_icon('th', class: 'title is-5')
      %a.button= fa_icon('align-justify', class: 'title is-5')

  - (0..3).each do |i|
    .columns
      - (0..2).each do |j|
        .column.is-4
          .card
            %header.card-header
              %p.card-header-title
                = image_tag 'http://via.placeholder.com/36x36', class: 'avatar'
                = "WataMote #{i + j + 1}."
              %span.card-header-icon.timestamp
                = time_ago_in_words 2.hours.ago
            .card-image
              %figure.image.is-16by9
                = image_tag(sprintf('/screenshots/video_%03d.png', i + j + 100), alt: 'WataMote 1.', class: 'gallery-image')
                -#.gallery-text
                -#  %h3.icon.is-medium= fa_icon 'play'
                = link_to faw_icon('play', class: 'is-medium'), '#', class: 'gallery-text'
            .card-content
              .panel.has-text-right
                .panel-block
                  .field.is-grouped.is-grouped-multiline
                    .control
                      .likes.tags.has-addons
                        %a.tag.is-danger.icon.is-small= fa_icon('heart')
                        .tag.is-small.is-info= 303
                    .control
                      .length.tags.has-addons
                        .tag.is-black.icon.is-small= fa_icon('clock-o')
                        .tag.is-small.is-info= Time.at(1405).strftime('%H:%M')
                    .control
                      .pegi.tags.has-addons
                        .tag.is-info.icon.is-small= fa_icon('circle-o')
                        .tag.is-warning= '12+'
                    .control
                      .plays.tags.has-addons
                        %a.tag.is-success.icon.is-small= fa_icon('play')
                        .tag.is-small.is-info= 4500
