%section#tv
  .container
    .box
      .title
      .tabs.is-boxed.is-centered(style="width: 70%; margin: 0 auto")
        %ul
          %li.is-active
            = link_to faw_icon('television', text: 'Lejátszó'), '#', id: 'tabTV'
          %li
            = link_to faw_icon('newspaper-o', text: 'Műsor'), '#', id: 'tabProgram'
      #player.container.is-centered(style="width: 70%; margin-top: 20px; text-align: center;")
        - if @playlist
          = render partial: 'player'
        - else
          = render partial: 'monoscope'


      #program.container(style="width: 70%; margin-top: 20px; display: none; text-align: center;")
        -#= image_tag 'http://via.placeholder.com/720x404?text=Program', size: '720x404', style: 'width: 100%'
        - if @today_playlist
          = content_tag :iframe, '', id: 'program_book', src: playlist_tracks_url(playlist_id: @today_playlist.id), style: 'width: 795px; height: 500px; overflow: hidden;', scrolling: 'no', data: { playlist: @today_playlist.id }
          %nav.pagination.is-rounded.is-centered(role="navigation" aria-label="pagination")
            %a.pagination-previous &laquo;
            %a.pagination-next &raquo;
        - else
          #program_book(style="width: 100%; background: #ccc; color: #999;")
            .no-program(style="padding: 200px 0; font-size: 3em;") Bocs, ma nincs adás.

    .box#support
      .has-text-centered
        .hide-mobile#adsense(style="max-width: 913px; margin: 0 auto 20px;")
          = render partial: 'adsense'

      .has-text-centered
        = image_tag('adsense.png', title: 'Azzal is támogathatsz minket, ha rákattintasz a fenti reklámra!', alt: 'Gooogle Adsense', class: 'hide-mobile')
        = link_to image_tag('paypal.png', alt: 'PayPal támogatás'), 'https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=S8SG5VFYVJWDC&source=url', target: '_blank'
        = link_to image_tag('patreon.png', alt: 'Patreon támogatás'), 'https://www.patreon.com/dragonhallplus'

